
html {

    height: 100%;
    min-height: 100%;

}

body {

    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color:  #ecf2f8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9eafc2;

}

#container {

    background-color: #ffffff;
    width: 750px;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 25px 20px #e2e2e2;

}

#imgContainer {

    background-color: #bdbdbd;
    background-image: url(images/drawers.jpg);
    background-size: 370px;
    width: 40%;
    border-radius: 10px 0 0 10px;

}

#txtContainer {

    width: 60%;
    box-sizing: border-box;
    padding: 40px;

}


#txtContainer h1 {

    margin: 0;
    font-size: 20px;
    color: #48556a;

}

#txtContainer p {

    margin: 15px 0;
    color: #6d7f97;
    line-height: 1.5;

}

#autorContainer {

    display: flex;
    align-items: center;
    margin-top: 5px;

}

#autorContainer .avatar {

    width: 40px;
    border-radius: 50%;
    
}

#autorContainer .detailAutor {

    display: inline-block;
    margin-left: 15px;
    width: 80%;
    
}

#autorContainer .nameAutor {

    font-weight: 700;
    color: #5b687c;
    margin-bottom: 2px;

}

.botaoShare {

    background-color: #ecf2f8;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s;

}

.botaoShare:hover {

    background-color: #5b687c;
    
}

.ativoBotao {

    background-color: #5b687c;

}

.botaoShare:hover .icon {

    fill: #ffffff;
    
}

.ativoIcon {

    fill: #ffffff;

}

.popupShare {

    background-color: #5b687c;
    width: 220px;
    position: absolute;
    top: -75px;
    right: -110px;
    z-index: 1;
    padding: 15px;
    border-radius: 10px;
    color: #9eafc2;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    box-shadow: 5px 10px 20px #e2e2e2;

}

.popupShare a {

    margin-left: 18px;

}

.popupShare::after {

    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #5b687c transparent transparent transparent;

}

.botaoShare .show {

    visibility: visible;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s;

}


@-webkit-keyframes fadeIn {

    from {opacity: 0;}
    to {opacity: 1;}

}

@keyframes fadeIn {

    from {opacity: 0;}
    to {opacity: 1;}

}

a:hover  .iconHover{

    fill: #cccccc;

}